@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Mono for Powerline", "Regular";
  letter-spacing: 0.1em;
  color: #000000;
  text-align: center;
}

.wrap {
  margin: 0 8%;
}

@media screen and (max-width: 600px) {
  .wrap {
    margin: 0;
    padding: 0 5%;
  }
}

.title {
  padding: 22vw 0 1vw 0;
  font-size: 1.6vw;
  font-family: "Roboto";
  letter-spacing: 0.3em;
  color: #707070;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .title {
    padding: 13vw 0;
    font-size: 3.8vw;
  }
}

.title:after {
  border-top: 1px solid;
  content: "";
  width: 6em;
  margin-left: 1em;
}

@media screen and (max-width: 600px) {
  .title:after {
    width: 3em;
  }
}

.text, .cash {
  font-size: 1.5vw;
  line-height: 2.5vw;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .text, .cash {
    font-size: 4.4vw;
    line-height: 6.5vw;
  }
}

@media screen and (min-width: 601px) {
  #header {
    position: absolute;
    margin: 5vw 0 0 6.4vw;
  }
}

@media screen and (max-width: 600px) {
  #header {
    width: 100%;
    height: 20vw;
    padding: 0 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #EDEDED;
    z-index: 5;
    position: fixed;
  }
}

.header-list {
  width: 65vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list .list-text {
  font-size: 1.6vw;
  color: #707070;
  z-index: 1;
  position: relative;
}

.header-list .list-text:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0%;
  height: 1.3px;
  color: #000000;
  background: #000000;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media screen and (max-width: 600px) {
  .header-list .list-text {
    display: none;
  }
}

.header-list .list-text:hover {
  color: #000000;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-list .list-text:hover:after {
  width: 84%;
}

.header-title {
  font-size: 3.5vw;
}

@media screen and (max-width: 600px) {
  .header-title {
    font-size: 6vw;
  }
}

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-trigger {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 14px;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 601px) {
  .menu-trigger {
    display: none;
  }
}

.bar {
  position: absolute;
  width: 16px;
  height: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: #3B4043;
}

.bar_top {
  top: 0;
}

.bar_mid {
  top: 7px;
}

.bar_bottom {
  top: 14px;
  width: 9px;
}

.menu-trigger.active {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(7px) rotate(-45deg);
          transform: translateY(7px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.menu-trigger.active span:nth-of-type(3) {
  opacity: 0;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ADA996), color-stop(#F2F2F2), color-stop(#DBDBDB), to(#EAEAEA));
  background: -webkit-linear-gradient(#ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
  background: linear-gradient(#ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
  opacity: 0.9;
}

.nav__item {
  width: 100%;
  height: auto;
  padding: .5em 1em;
  font-size: 7vw;
  font-family: serif;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: -webkit-linear-gradient(white, black);
  background: linear-gradient(white, black);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav.active {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

#first-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vw;
}

@media screen and (max-width: 600px) {
  #first-view {
    height: 146vw;
    padding-top: 20vw;
  }
}

.fv-title {
  width: 46%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .fv-title {
    margin-top: 43vw;
    height: 60vw;
    width: 100%;
    color: #FFFFFF;
    text-shadow: 0 3px 16px #000000;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.fv-title h1 {
  font-size: 3.4vw;
  margin-bottom: 50px;
  font-family: serif;
}

@media screen and (max-width: 600px) {
  .fv-title h1 {
    font-size: 9vw;
  }
}

.fv-title h2 {
  margin-top: 50px;
  font-size: 3.7vw;
  font-family: "Zapfino";
}

@media screen and (max-width: 600px) {
  .fv-title h2 {
    font-size: 8vw;
  }
}

.fv-img {
  width: 54%;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .fv-img {
    -o-object-position: 0% 50%;
       object-position: 0% 50%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: auto;
  }
}

.concept-color {
  position: relative;
}

.concept-color .concept-a {
  height: 34vw;
  background-color: #A193861F;
}

@media screen and (max-width: 600px) {
  .concept-color .concept-a {
    height: 40vw;
  }
}

.concept-color .concept-b {
  height: 51vw;
  background-color: #A1938689;
}

@media screen and (max-width: 600px) {
  .concept-color .concept-b {
    height: 140vw;
  }
}

.concept {
  position: absolute;
  top: 0;
  width: 84%;
}

@media screen and (max-width: 600px) {
  .concept {
    width: 100%;
  }
}

.concept-img {
  width: 100%;
  height: 38vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .concept-img {
    height: 48vw;
  }
}

.concept-img .img-a {
  width: 63%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .concept-img .img-a {
    -o-object-position: 100% 50%;
       object-position: 100% 50%;
    width: 49%;
  }
}

.concept-img .img-b {
  width: 36%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 600px) {
  .concept-img .img-b {
    width: 49%;
  }
}

.concept-text {
  height: 21vw;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .concept-text {
    margin: 11vw 0;
    height: 78vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.concept-text h1 {
  font-size: 3.4vw;
  letter-spacing: 0.4em;
  font-family: serif;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .concept-text h1 {
    font-size: 4.4vw;
  }
}

@media screen and (max-width: 600px) {
  .concept-text .text.a {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .concept-text .text.b {
    display: none;
  }
}

.menu-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .menu-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.menu-img .content {
  max-width: 25vw;
}

@media screen and (max-width: 600px) {
  .menu-img .content {
    max-width: none;
    width: 100%;
  }
}

.menu-img .content h2 {
  font-size: 2.8vw;
  margin: 2.8vw 0;
}

@media screen and (max-width: 600px) {
  .menu-img .content h2 {
    padding: 4vw;
    font-size: 8vw;
    text-align: left;
  }
}

.menu-img .content .text {
  padding: 0 1vw;
}

@media screen and (max-width: 600px) {
  .menu-img .content .text {
    padding: 0;
    margin: 0 4vw;
  }
}

.menu-img .content .cash {
  text-align: right;
  margin: 4vw 1vw 8vw;
}

@media screen and (max-width: 600px) {
  .menu-img .content .cash {
    margin: 6vw 1vw 16vw;
  }
}

.menu-img .img {
  height: 25vw;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .menu-img .img {
    width: 100%;
    height: 83vw;
  }
}

.access-color {
  background-color: #A193861F;
  height: 72vw;
}

@media screen and (max-width: 600px) {
  .access-color {
    height: 158vw;
  }
}

.access-about {
  height: 41vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #D0C5BA;
}

@media screen and (max-width: 600px) {
  .access-about {
    height: 111vw;
    padding: 9vw 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.access-content {
  width: 34%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .access-content {
    width: 100%;
  }
}

.access-content h3 {
  color: #00000038;
  font-size: 2.7vw;
}

@media screen and (max-width: 600px) {
  .access-content h3 {
    font-size: 5.7vw;
  }
}

.access-content ul {
  color: #FFFFFF;
}

.access-content ul li {
  padding-top: 1vw;
}

@media screen and (max-width: 600px) {
  .access-content ul li {
    padding-top: 3vw;
  }
}

.maps {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

@media screen and (max-width: 600px) {
  .maps {
    padding-top: 63%;
  }
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 41vw;
  width: 100% !important;
}

@media screen and (max-width: 600px) {
  iframe {
    height: 54vw;
  }
}

#footer {
  position: relative;
}

#footer span {
  padding-top: 172px;
  width: 100%;
  height: 1px;
  background-color: #70707036;
}

.border {
  margin: 17vw 0 10vw;
  color: #70707036;
}

.footer-item {
  margin-bottom: 7vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .footer-item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3vw;
}

@media screen and (max-width: 600px) {
  .footer-list {
    font-size: 5vw;
  }
}

@media screen and (max-width: 600px) {
  .footer-list {
    width: 100%;
  }
}

.footer-list h3 {
  color: #7070704D;
}

.footer-list .ft-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-list .Twitter {
  padding-left: 2.5vw;
}

.footer-list .Facebook {
  padding-left: 1.4vw;
}

.reserve {
  width: 17vw;
  font-size: 1.7vw;
  color: #707070;
}

@media screen and (max-width: 600px) {
  .reserve {
    padding-bottom: 13vw;
  }
}

@media screen and (max-width: 600px) {
  .reserve {
    width: 47vw;
    font-size: 4.7vw;
  }
}

.reserve h4 {
  height: 3.2vw;
  line-height: 3.2vw;
  border: 1px solid;
}

@media screen and (max-width: 600px) {
  .reserve h4 {
    height: 9.2vw;
    line-height: 9.2vw;
  }
}
/*# sourceMappingURL=main.css.map */