//////////////////
///    変数     ///
//////////////////




//////////////////
///   mixin    ///
//////////////////

@mixin pc {
    @media screen and (min-width: 960px) {
        @content;
    }
}

@mixin tab {
    @media screen and (min-width: 601px) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: 600px) {
        @content;
    }
}



//////////////////
///    共通     ///
//////////////////

html {
    font-size: 62.5%;
    font-family: "Roboto Mono for Powerline", "Regular";
    letter-spacing: 0.1em;
    color: #000000;
    text-align: center;
}

.wrap {
    margin: 0 8% !important;
    @include sp {
        margin: 0 20px;
    }
}

.title {
    padding: 22vw 0 1vw 0;
    font-size: 1.6vw;
    font-family: "Roboto";
    letter-spacing: 0.3em;
    color: #707070;
    text-align: left;
    display: flex;
    align-items: center;
    @include sp {
        padding: 13vw 0;
    }
    &:after {
    border-top: 1px solid;
    content: "";
    width: 6em;
    margin-left: 1em;
    }
}

.text, .cash {
    font-size: 1.5vw;
    line-height: 2.5vw;
    text-align: left;
    @include sp {
        line-height: 5.5vw;
    }
}

.burger-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 4vw;      
    height: 4.5vw;         
    z-index: 3;
    @include tab {
        display: none;
    }
  }    
  .bar{      
      width: 4vw;      
      height: 0.2em;            
      background-color: #3B4043;    
  }    
  .bar_bottom{
    width: 3vw;
  }