#footer {
    position: relative;
    span {
        padding-top: 172px;
        width: 100%;
        height: 1px;
        background-color: #70707036;
    }
}

.border {
    margin: 17vw 0 10vw;
    color: #70707036;
}

.footer-item {
    margin-bottom: 7vw;
    display: flex;
    justify-content: space-between;
    @include sp {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
}

.footer-list {
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
    @include sp {
        font-size: 5vw;
    }
    @include sp {
        width: 100%;
    }
    h3 {
        color: #7070704D;
    }
    .ft-icon {
        display: flex;
    justify-content: space-between;
    }
    .Twitter {
        padding-left: 2.5vw;
    }
    .Facebook {
        padding-left: 1.4vw;
    }
}

.reserve {
    width: 17vw;
    font-size: 1.7vw;
    color: #707070;
    @include sp {
        padding-bottom: 13vw;
    }
    @include sp {
        width: 47vw;
        font-size: 4.7vw;
    }
    h4 {
        height: 3.2vw;
        line-height: 3.2vw;
        border: 1px solid ;
        @include sp {
            height: 9.2vw;
            line-height: 9.2vw;
        }
    }
}