//////////////////
///   mixin    ///
//////////////////

@mixin pc {
    @media screen and (min-width: 960px) {
        @content;
    }
}

@mixin tab {
    @media screen and (min-width: 601px) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: 600px) {
        @content;
    }
}
//////////////////
///    共通     ///
//////////////////

html {
    font-size: 62.5%;
    font-family: "Roboto Mono for Powerline", "Regular";
    letter-spacing: 0.1em;
    color: #000000;
    text-align: center;
}

.wrap {
    margin: 0 8%;
    @include sp {
        margin: 0;
        padding: 0 5%;
    }
}

.title {
    padding: 22vw 0 1vw 0;
    font-size: 1.6vw;
    font-family: "Roboto";
    letter-spacing: 0.3em;
    color: #707070;
    text-align: left;
    display: flex;
    align-items: center;
    @include sp {
        padding: 13vw 0;
        font-size: 3.8vw;
    }
    &:after {
    border-top: 1px solid;
    content: "";
    width: 6em;
    margin-left: 1em;
    @include sp {
        width: 3em;
    }
    }
}

.text, .cash {
    font-size: 1.5vw;
    line-height: 2.5vw;
    text-align: left;
    @include sp {
        font-size: 4.4vw;
        line-height: 6.5vw;
    }
}
